-----BEGIN RSA PRIVATE KEY-----
在此粘贴你的应用私钥（PKCS8 格式，2048 位）

获取方式：
1. 使用支付宝官方密钥工具生成（https://opendocs.alipay.com/open/291/106097）
2. 密钥格式选择 PKCS8，密钥长度 2048，签名算法 RSA2
3. 将生成的"应用私钥"粘贴到此文件，替换本占位内容
4. 对应的"应用公钥"需上传到支付宝开放平台 → 沙箱/正式应用 → 接口加签方式

注意：
- 本文件仅为示例模板，实际使用时复制为 app_private_key.pem 并填入真实私钥
- app_private_key.pem 已被 .gitignore 排除，不会提交到版本控制
- 切勿将真实私钥提交到 Git 仓库
-----END RSA PRIVATE KEY-----
