asgiref==3.11.1
attrs==26.1.0
cffi==2.1.0
colorama==0.4.6
cryptography==49.0.0
Django==6.0.5
django-unfold==0.101.0
django-cors-headers==4.9.0
django-filter==25.2
django-redis==6.0.0
django-stubs==6.0.3
django-stubs-ext==6.0.3
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
et_xmlfile==2.0.0
fakeredis==2.28.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
librt==0.10.0
loguru==0.7.3
mypy==1.20.2
mypy_extensions==1.1.0
mysqlclient==2.2.8
openpyxl==3.1.5
pathspec==1.1.1
pillow==12.2.0
pycparser==3.0
pycryptodomex==3.23.0
PyJWT==2.12.1
pyOpenSSL==26.3.0
python-alipay-sdk==3.4.0
PyYAML==6.0.3
redis==7.4.0
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20260508
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
win32_setctime==1.2.0
pytest==8.4.2
pytest-django==4.11.0
pytest-cov==6.2.0
